<!DOCTYPE html>
<html>
  <head>
    <title>within 30</title>
    <meta charset="utf-8">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700&subset=latin,greek-ext,latin-ext,greek' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
   <!--Header-->
    <header>
      <div class="container">
        <div class="logo">
          <a href="#"><img src="content/images/logo.png" alt="logo"></a>
        </div>
        <div class="registration" id="reg-blck">
          
          <div class="fieldRow">

            <label style="font-family: 'Droid Serif'"><i class="fa fa-key" style="font-size:16"></i>&nbsp;&nbsp;Enroll Your Business</label>
            <div class="emailRow">
              <input type="email" id="email-txt" placeholder="Email">
              <button class="btn-sub" id="btnReg-Submit">Submit</button>
            </div>
          </div>
        </div>
        <div class="registration" id="reg-msg" style="display: none;">
          
          <div class="row">
            <p><div class="regisResult">Thanks for Registering!</div> <div class="regisResult">An activation link has been sent to your email address.</div></p>
          </div>
        </div>
      </div>
    </header>
    <!--Main-->
    <div class="main inner">
      <div class="appsSec">
        <ul>
          <li><a href="#" class="apps"><span>App store</span></a></li>
          <li><a href="#" class="andriod"><span>Play Store</span></a></li>
        </ul>
      </div>
      <div class="container">
      <div class="row">
       <div class="banner"> 
          <div class="bannerContent">
            <h2>
              "We created an app that 
              <strong>INSTANTLY </strong>
              connects you with 
              <strong>EXACTLY </strong>
              the right service provider."
            </h2>
          </div>        
          <img src="content/images/banner-img.jpg">
        </div>

        <div class="contentSection">
        <div class="tabSection">
          <ul class="tabMenu">
            <li><a href="/" class="home">Home</a></li>
            <li><a href="about" class="active">About Us</a></li>
            <li><a href="terms">Terms Of Use</a></li>
            <li><a href="contact">Contact Us</a></li>
          </ul>
          <div class="tabMain">
             <div class="tabContent">
              <div class="block1">
                <h2>We're consumers like you</h2>
                <p>So we figured that, like us, you would love an app that connects you to businesses that provide the services you want right away. </p>
              </div>
              <div class="block1 block2">
                <h2>That's why we created Within30.</h2>
                <p>This unique app connects you directly to local service providers who are within 30 miles and are available within 30 minutes. You can also increase or decrease these search scopes based on your need.</p>
              </div>
              <div class="service_block">
                <h2>What kinds of services?</h2>
                <ul class="serviceList">
                  <li>
                    <span class="staricon">*</span>
                    <div class="serviceIcon">
                      <figure><img src="content/images/abt_service1.png"></figure>
                    </div>
                    <h3>Dentists</h3>
                  </li>
                  <li>
                    <span class="staricon">**</span>
                    <div class="serviceIcon">
                      <figure><img src="content/images/abt_service2.png"></figure>
                    </div>
                    <h3>Car Services </h3>
                  </li>
                  <li>
                    <span class="staricon">**</span>
                    <div class="serviceIcon">
                      <figure><img src="content/images/abt_service3.png"></figure>
                    </div>
                    <h3>Hair Salons</h3>
                  </li>
                  <li>
                    <span class="staricon">**</span>
                    <div class="serviceIcon">
                      <figure><img src="content/images/abt_service4.png"></figure>
                    </div>
                    <h3>Physicians</h3>
                  </li>
                  <li>
                    <span class="staricon">**</span>
                    <div class="serviceIcon">
                      <figure><img src="content/images/abt_service5.png"></figure>
                    </div>
                    <h3>Spas</h3>
                  </li>
                  
                  <li>
                    <span class="staricon">**</span>
                    <div class="serviceIcon">
                      <figure><img src="content/images/abt_service6.png"></figure>
                    </div>
                    <h3>Attorneys</h3>
                  </li>
                </ul>
                <div class="noteList">
                  <strong><span>*</span>Currently available</strong>
                  <strong><span>**</span>Available soon</strong>
                </div>
              </div>
              <div class="block1 block2">
                <h2>Within30 also benefits local businesses</h2>
                <p>If you want to make your business immediately available to potential customers, simply register in Within30. Don’t lose out to your competition!</p>
                <p>All you have to do is configure your settings such as services you offer, business hours, how many slots you have available each day, etc.</p>
              </div>
              <div class="block3">
                <h3>We'll create an online schedule <span>based on your input.</span> </h3>
                <figure><img src="content/images/webSite-img.png"></figure>
              </div>
              <div class="block4">
                <p>A customer looking for a specific service will be shown the available businesses within a 30-mile radius & who have an open slot within the next 30 minutes. All in real time.</p>
                <h4>Just 3 clicks does it all.</h4>
                <p>The customer can then pick a business and make an appointment with only 3 clicks.The business will then see the customer's details on their online schedule.
</p>
                <h5> Next thing you know, everybody's happy!</h5>
              </div>
              <div class="block5">
                <h6>Sign up now and start enjoying the benefits of Within30!</h6>
                <h2>We look forward to serving you soon!</h2>
                <div class="logoIcon"><img src="content/images/logo.png"></div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>
       </div>



    </div>

    <!--Footer-->
    <footer>
      <div class="container">
        <ul>
          <li><a href="#">About Us</a> |</li>
          <li><a href="contact">Contact Us</a> |</li>
          <li><a href="terms">Terms of Use</a></li>
        </ul>
        <p>&copy; 2016 | Privacy - We don’t sell your info!</p>
      </div>
    </footer>

    <script src="scripts/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="scripts/custom1.js"></script>
  </body>
</html>
