<!Doctype html>
<html>
  <head>
    <title>W30</title>
    <meta charset="utf-8">
    <meta content="width=device-width">
    <link rel="stylesheet" href="styles/style.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700&subset=latin,greek-ext,latin-ext,greek' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
   <!--Header-->
    <header>
      <div class="container">
        <div class="logo">
          <a href="#"><img src="content/images/logo.png" alt="logo"></a>
        </div>
        <div class="registration" id="reg-blck">
          
          <div class="fieldRow">

            <label style="font-family: 'Droid Serif'"><i class="fa fa-key" style="font-size:16"></i>&nbsp;&nbsp;Enroll Your Business</label>
            <div class="emailRow">
              <input type="email" id="email-txt" placeholder="Email">
              <button class="btn-sub" id="btnReg-Submit">Submit</button>
            </div>
          </div>
        </div>
        <div class="registration" id="reg-msg" style="display: none;">
          
          <div class="row">
            <p><div class="regisResult">Thanks for Registering!</div> <div class="regisResult">An activation link has been sent to your email address.</div></p>
          </div>
        </div>
      </div>
    </header>
    <!--Main-->
    <div class="main inner">
      <div class="appsSec">
        <ul>
          <li><a href="#" class="apps"><span>App store</span></a></li>
          <li><a href="#" class="andriod"><span>Play Store</span></a></li>
        </ul>
      </div>
      <div class="container">
      <div class="row">
       <div class="banner"> 
          <div class="bannerContent bannerInner">
            <h2>Thanks for reaching out to Within30!</h2>
          </div>        
          <img src="content/images/banner-img.jpg">
        </div>

        <div class="contentSection">
        <div class="tabSection">
          <ul class="tabMenu">
            <li><a href="/" class="home">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a href="terms">Terms Of Use</a></li>
            <li><a href="contact" class="active">Contact Us</a></li>
          </ul>
          <div class="tabMain">
             <div class="tabContent">
              <div class="contact_section">
                <h2>Please use the form below to contact our Support team</h2>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row rowSec1">
                      <div class="col-lg-6">
                        <div class="form-control">
                          <label>Name...</label>
                          <input type="text" class="fieldAnim" id="cntcName">
                        </div>

                      </div>
                      <div class="col-lg-6">
                        <div class="form-control">
                          <label>E-Mail...</label>
                          <input type="text" class="fieldAnim" id="cntcEmail">
                        </div>
                      </div>
                    </div>
                    <div class="row rowSec1">
                      <div class="col-lg-12">
                        <div class="form-control">
                          <label>Cell #(optional)...</label>
                          <input type="text" class="fieldAnim" id="cntcCell">
                        </div>
                      </div>
                    </div>
                    <div class="row rowSec1">
                      <div class="col-lg-12">
                        <div class="form-control text-area">
                          <label>Message...</label>
                          <textarea cols="4" rows="8" class="fieldAnim" id="cntcMsg"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row rowSec1">
                      <button class="btn btn-sub" id="cntcSubmit">SUBMIT</button>
                      <p id="cntcResult"></p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <address>
                      <strong>ADDRESS</strong>
                       2222 W Spring Creek Parkway, <br/>
                      # 104,<br/>
                      Plano, TX 75023
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>
       </div>



    </div>

    <!--Footer-->
    <footer>
      <div class="container">
        <ul>
          <li><a href="about">About Us</a> |</li>
          <li><a href="#">Contact Us</a> |</li>
          <li><a href="terms">Terms of Use</a></li>
        </ul>
        <p>&copy; 2016 | Privacy - We don’t sell your info!</p>
      </div>
    </footer>

    <script src="scripts/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="scripts/custom1.js"></script>
  </body>
</html>
