/*--------------new css---------*/
*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  padding: 0;
}
*{
  box-sizing: border-box;
}
body{
  font-size: 14px;
  line-height: 18px;
  font-family: 'Droid Serif', sans-serif;
  background: #fff;
}
.clear {
  clear: both;
}
.row {
  margin: 0 -15px;
}
.col-lg-3,.col-lg-2,.col-lg-5,.col-lg-6,.col-lg-12 {
  padding: 0 15px;
  box-sizing: border-box;
  float: left;
  position: relative;
}
.col-lg-3 {
  width: 25%;
}
.col-lg-2 {
  width: 16.66666667%;
}
.col-lg-5 {
  width: 33.33333333%;
}
.col-lg-6 {
  width: 50%;
}
.col-lg-12 {
  width: 100%;
}
.container {
  margin: auto;
  max-width: 1170px;
}

/*Header*/

header {
  height: 90px;
  background: rgba(232, 231, 231, 0.34);
}
.logo {
  float: left;
  width: 144px;
  margin: 18px 0 0 20px;
}
.registration {
  width: 560px;
  position: relative;
  float: right;
  height: 58px;
  margin: 15px 0 0 0;
  padding: 0 15px;
  background: #39425f;
}
.regisResult {
  font-family: 'Droid Serif';
  color:white; 
  text-align: center;
  font-weight: 400;
}
.registration label {
  float: left;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 52px;
  margin-right: 21px;
}
.fieldRow {
  position: relative;
  padding-top: 5px;
}
.emailRow {
  float: right;
  height: 30px;
  width: 56%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px #9ca0af;
  margin: 10px 0 0 0;
  background: #fdfdfd;
  position: relative;
}
.fieldRow input {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 113px 0 10px;
  float: left;
  margin: 0 -66px 0 0;
  box-sizing: border-box;
  color: #000000;
  border: 1px #9ca0af;
  font: 17px/32px 'Droid Serif', sans-serif;
  outline: none;
  background: none;
}
.fieldRow button,.fieldRow button:hover {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 28px;
  line-height: 28px;
  float: right;
  width: 87px;
  color: #fff;
  margin-left: 48px;
  cursor: pointer;
  font-size: 17px;
  font-family: 'Droid Serif', sans-serif;
  border: none;
  border-radius: 0 8px 8px 0;
  outline: none;
  background: #0F1418;
}

/*Content Main*/

.main {
  padding-bottom: 100px;
}
.topSec {
  position: relative;
  z-index: 99;
  padding: 40px 0 40px 0;
  background: url(../content/images/banner-img.jpg) no-repeat center 0px;
}
.label-title1 {
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  display: block;
  padding: 0 0 0 4px;
  font-family: 'Droid Serif', sans-serif;
}
.selectbx,.distance,.search-sec {
  position: relative;
  height: 35px;
  padding: 0 30px 0 10px;
  color: #39425f;
  line-height: 27px;
  border:3px solid rgba(121,124,123,0.5);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Droid Serif', sans-serif;
  background: #fff;
}
.arrow {
  position: absolute;
  right: 7px;
  top: 50%;
  margin: -3px 0 0 0;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #39425f;
}
.distance {
  position: relative;
  z-index: 3;
  height: 35px;
  padding: 0 30px 0 15px;
  color: #39425f;
  line-height: 34px;
  padding-right: 0;
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Droid Serif', sans-serif;
}
.distanceIcon {
  position: absolute;
  width: 87%;
  padding-right: 0;
 /* background: rgba(255,255,255,0.8) url(../content/images/distance-icon.png) no-repeat right center;*/
}
.distance::-webkit-input-placeholder,.search::-webkit-input-placeholder {
   color: #39425f;
}
.distance:-moz-placeholder,.search:-moz-placeholder { /* Firefox 18- */
   color: #39425f;
}
.distance::-moz-placeholder,.search::-moz-placeholder {  /* Firefox 19+ */
   color: #39425f;
}
.distance:-ms-input-placeholder,.search:-ms-input-placeholder {
   color: #39425f;
}
.search {
  display: block;
  height: 28px;
  border: none;
  line-height: 34px;
  padding: 0;
  font-size: 16px;
  font-family: 'Droid Serif', sans-serif;
  font-weight: 700;
  outline: none;
  color: #39425f;
  width: 100%;
  background: none;
}
.search-sec {
  cursor: text;
}
.searchIcon {
  width: 32px;
  height: 27px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background: url(../content/images/searchicon.png) no-repeat center center;
}
.apply {
  display: block;
  height: 38px;
  width: 170px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  margin: auto;
  color: #22252e;
  font-size: 17px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  outline: none;
  border-bottom:3px solid #d9a03c;
  background: #ffc55f;
}
.fieldrow-sec {
  padding-bottom: 30px;
}
.fieldrow-sec::after,.fieldrow-sec::before {
  content: '';
  clear: both;
  display: table;
}

/*SliderSection1*/

.sliderSection1 {
  clear: both;
  position: relative;
  margin: 10px auto 0;
  display: table;
}
.leftArrow,.rightArrow {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  width: 32px;
  height: 32px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  cursor: pointer;
}
.leftArrow {
  left: -40px;
  background: url(../content/images/slider-arrows.png) no-repeat left top;
}
.leftArrow:focus,.leftArrow:hover {
  background-position: -68px 0;
}
.rightArrow {
  right: -30px;
  background: url(../content/images/slider-arrows.png) no-repeat left -68px;
}
.rightArrow:focus,.rightArrow:hover {
  background-position: -68px -68px;
}
.arrowShow .leftArrow,.arrowShow .rightArrow {
  display: block;
}
.slider {
  overflow: hidden;
  margin: auto;
}
.sliderWrapper {
  clear: both;
  position: relative;
  text-align: center;
}
.sliderWrapper li {
  position: relative;
  width: 280px;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  list-style: none;
  float: left;
}
.sliderSection2 .sliderWrapper li .slide2Img {
  width: 280px;
  height: 145px;
}
.ribben {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 73px;
  height: 73px;
}
.slideCaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px 0;
  background: rgba(159, 159, 159, 0.13);
}
.travelTime {
  color: #39425f;
  font-weight: 600;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  font-family: 'Droid Serif', serif;
}
/*.listPremium .travelTime {
  color: #cb2027;
}
.listSuggested .travelTime {
  color: #39425f;
}*/
.suggest {
  position: absolute;
  left: -1px;
  top: 0;
  width: 22px;
  z-index: 9;
}
.suggest img {
  height: 153px;
}
.rating {
  float: right;
  width: 122px;
  margin: 5px 8px 0 0;
}
.rating ul,.rating ul li {
  float: left;
  width: auto;
  margin: 0;
}
.rating ul li a {
  display: block;
  height: 14px;
  width: 14px;
  text-decoration: none;
  background: url(../content/images/star.png) no-repeat left 0;
}
.rating ul li a.active,.rating ul li a:hover {
  background: url(../content/images/star.png) no-repeat left -15px;
}
.rating span {
  float: left;
  padding: 0 0 0 12px;
  color: #585858;
  font-size: 15px;
  line-height: 15px;
}
.sliderSection2 {
  clear: both;
  position: relative;
  margin: 10px auto 0;
  display: table;
}
.sliderSection2 .sliderWrapper {
  text-align: center;
}
.sliderSection2 .sliderWrapper li {
  position: relative;
  width: 268px;
  box-sizing: border-box;
  margin: 20px 22px 0 0;
  list-style: none;
  float: left;
  border: 1px solid #ccc;
  height: 155px;
  padding: 20px 10px 10px;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  box-sizing: border-box;
  background:rgba(245,245,245,1);
}
.sliderSection2 .sliderWrapper li.listPremium {
  border: 1px solid #B6A2D2;
}
.location2 {
  position: absolute;
  right: 8px;
  top: 5px;
}
.map {
  clear: both;
  margin: 30px 0 0 0;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
}
.milesRow {
  position: absolute;
  right: 70px;
  top: 40px;
}
.milesRow .map_btns {
  margin-right: 10px;
  background: rgba(255,255,255,1);
  height: 30px;
  padding: 0 20px;
  font-size: 15px;
  border: none;
  border: 1px dashed #212D39;
  box-shadow: 0 2px 4px #555555;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 20px;
  color: #212D39;
}
.milesRow .map_btns.active {
  background: rgba(255,255,255,0.8);
  color: #BD0000;
}
.slideRageBar {
  position: absolute;
  right: 95px;
  top: 50px;

}
/*.ui-widget-content {
  background: #000 !important;
}*/
.ui-slider-vertical {
  width: 6px !important;
  height: 300px !important;
}
#minutesSlide .ui-slider-vertical .ui-slider-range{
  width: 4px !important;
 background: #212D39 !important;
}
#milesSlide .ui-slider-vertical .ui-slider-range{
  width: 4px !important;
 background: #CD0A0A !important;
}
#milesSlide .ui-widget-header {
  background: #212D39 !important;
}
#minutesSlide .ui-widget-header {
  background: #CD0A0A !important;
}
.slideRageBar {
  background:none !important; 
}
.slideRageBar.myactive .ui-slider-range {
  z-index: 0 !important;
}
.ui-slider .ui-slider-handle {
  width: 1.1em !important;
  height: 1.1em !important;
  border-radius: 50%;
  background-color: #fff !important;
}
.ui-slider-vertical .ui-slider-handle {
    left: -0.4em !important;
}
.ui-state-focus {
  outline: none;
}
#milesSlide.slideRageBar span {
  z-index: 9 !important;
}
#minutesSlide.slideRageBar span {
  z-index: 8 !important;
}
.slideRageBar .ui-slider .ui-slider-range {
  z-index: 1 !important;
}
.map img {
  width: 100%;
}
.services {
  clear: both;
  text-align: center;
  height: 77px;
  background-color: #39425f;
}
.services ul {
  padding: 0 2px 0 0;
  margin: 0;
  display: inline-block;
  border-right: 1px solid #fff;
}
.services ul li {
  display: inline-block;
  list-style: none;
  margin: 0 -2px;
  border-left: 1px solid #fff;
  position: relative;
  font-family: 'Droid Serif', sans-serif;
}
.services ul li:first-child {
  margin-left: 0;
}

.services ul li h6 {
  clear: both;
  padding: 8px 0 0 0;
  color: #39425f;
  font-weight: 600;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  position: absolute;
  bottom: -52px;
  left: 0;
  right: 0;
  margin-bottom: 0px !important;
}
.services ul li h6 span {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
.services ul li a {
  display: block;
  width: 130px;
  height:77px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  background-color: #39425f;
}
.services ul li.hair a {
  background-image: url(../content/images/services1.png);
  background-repeat: no-repeat;
  background-position: 34px center;
}
.services ul li.hair:hover a {
  background-position: -203px center;
}
.services ul li.spa a {
  background-image: url(../content/images/services2.png);
  background-repeat: no-repeat;
  background-position: 39px center;
}
.services ul li.spa:hover a {
  background-position: -203px center;
}
.services ul li.diagno a {
  background-image: url(../content/images/services3.png);
  background-repeat: no-repeat;
  background-position: 37px center;
}
.services ul li.diagno:hover a {
  background-position: -209px center;
}
.services ul li.legal a {
  background-image: url(../content/images/services4.png);
  background-repeat: no-repeat;
  background-position: 41px center;
}
.services ul li.legal:hover a,.services ul li.legal.active a {
  background-position: -196px center;
}
.services ul li.carSer a {
  background-image: url(../content/images/services5.png);
  background-repeat: no-repeat;
  background-position: 37px center;
}
.services ul li.carSer:hover a {
  background-position: -207px center;
}
.services ul li.dentist a {
  background-image: url(../content/images/services6.png);
  background-repeat: no-repeat;
  background-position: -205px center;
}
.services ul li.dentist:hover a {
  background-position: 37px center;
}
.services ul li.photography a {
  background-image: url(../content/images/services7.png);
  background-repeat: no-repeat;
  background-position: 41px center;
}
.services ul li.photography:hover a {
  background-position: -196px center;
}
.services ul li.more a {
  background-image: url(../content/images/moreIcons.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.services ul li:hover a,.services ul li.active a {
  background-color: #fff;
}
.services ul li:hover h6,.services ul li.active h6 {
  color: #cb2027;
}
footer {
  clear: both;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #39425f;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Droid Serif', sans-serif;
  background: #B5B5B5;
}
footer ul {
  float: left;
  margin-bottom: 0;
}
footer ul li {
  float: left;
  list-style: none;
  padding: 0 2px;
}
footer ul li a {
  color: #39425f;
  text-decoration: none;
  font-size: 14px;
}
footer .right {
  float: right;
}
footer p {
  margin-bottom: 0;
}
.appsSec {
  position: fixed;
  right: 0;
  top: 150px;
  width: 42px;
}
.appsSec ul li {
  list-style: none;
  padding: 3px 0 0 0;
}
.appsSec ul li a {
  width: 42px;
  height: 120px;
  padding: 43px 0 0 0;
  color: #fff;
  font-size: 17px;
  display: block;
  text-decoration: none;
}
.appsSec ul li a.apps {
  background:#8883bc url(../content/images/apple-icon.png) no-repeat 9px 8px;
}
.appsSec ul li a.andriod {
  background:#6fbf39 url(../content/images/android-icon.png) no-repeat 9px 8px;
}
.appsSec ul li a.wind {
  height: 160px;
  background:#00afec url(../content/images/windows-icon.png) no-repeat 9px 8px;
}
.appsSec ul li a span {
  display: block;
  white-space: nowrap;
  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
html, body{
  width:100%;
  height:100%;

}
#canvas-map {
  width:100%;
  height:500px;

}
a {color:green;}
a:hover {color:#f1f1f1;}
.infobox {
  background: none repeat scroll 0 0 #ffffff;
  color: #4f5051;
  font-family: 'Droid Serif';
  line-height: 20px;
  font-size:14px;
  border:3px solid #39425f;
  position: absolute;
  margin:-7px 0 0 -138px;
}
.infobox .close {
background: url(../content/images/close-icon.png) no-repeat left top;
cursor: pointer;
float: right;
font-size: 0;
height: 30px;
line-height: 30px;
position: relative;
right: -15px;
text-align: center;
top: -15px;
width: 30px;
}
.infobox h2 {
  text-align:center;
  color:#39425f;
  font-size:18px;
  line-height:30px;
  font-family: 'Droid Serif', sans-serif;
}
.infobox .content {
  margin:0;
  padding: 0 0 10px;
}
.popHeader {
  border-bottom:2px solid #f4f4f4;
}
.ratingRow {
  clear:both;
  padding:0px 5px 7px 5px;
  overflow:hidden;
}
#rate {
  float:left;
  width:102px;
}
#rate span {
  color:#989898;
  font-size:12px;
  line-height:18px;
}
#miles {
  float:right;
  color:#2b2c2c;
  font-size:12px;
  width:60px;
  text-align:right;
}

.estimated {
  clear:both;
  padding-bottom:7px;
  color:#cb2027;
  font-size:19px;
  line-height:30px;
  font-family: 'Droid Serif', sans-serif;
  text-align:center;
}
.book {
  width:104px;
  height:30px;
  border-radius:20px;
  text-align:center;
  line-height:30px;
  border:none;
  font-family: 'Droid Serif', sans-serif;
  color:#fff;
  display:block;
  margin:auto;
  cursor:pointer;
  background:#39425f;
}
.bottomArrow {
  position:absolute;
  left:50%;
  bottom:-8px;
  margin:0 0 0 -8px;
  width:17px;
  height:8px;
  background:url(../content/images/popUp-arrow.png) no-repeat left top;
}



.pageShadow {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  background: rgba(0,0,0,0.5);
}

.bottomScroll {
  position: fixed;
  right: 46px;
  opacity: 0;
  bottom:40px;
  border-radius: 50%;
  transition: all 0.5s linear;
  background: #398581;
  z-index: 999;
}
.bottomScroll img {
  display: block;
  padding: 0;
}
.scroll_Icon .bottomScroll {
  opacity: 1;
}

.close-arrow {
  position: absolute;
  display: none;
  top: 200px;
  right: 60px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #000;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  background: #fff;
  z-index: 100;
}


.select-drop {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  padding: 7px;
  border-radius: 7px;
  border: 1px solid #d1d1d1;
  background: #ffffff;
  overflow-y: scroll;
    max-height: 130px;
}
.select-drop li {
  list-style: none;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 5px 0 10px;
}
.select-drop li:hover,.select-drop li:focus,.select-drop li:active {
  border: 1px solid #aee4e4;
  color: #fff;
  background: #80d4d4;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#80d4d4), to(#58a8a8));
  background: -webkit-linear-gradient(#80d4d4, #58a8a8);
  background: -moz-linear-gradient(#80d4d4, #58a8a8);
  background: -ms-linear-gradient(#80d4d4, #58a8a8);
  background: -o-linear-gradient(#80d4d4, #58a8a8);
  background: linear-gradient(#80d4d4, #58a8a8);
}
html, body{
  width:100%;
  height:100%;

}
#canvas-map {
  width:100%;
  height:500px;

}
a {color:green;}
a:hover {color:#f1f1f1;}
.infobox {
  background: none repeat scroll 0 0 #ffffff;
  color: #4f5051;
  font-family: "Droid Serif";
  line-height: 20px;
  font-size:14px;
  border:3px solid #39425f;
  position: absolute;
  margin:-7px 0 0 -138px;
}
.infoboxclose {
background: url(../content/images/close-icon.png) no-repeat left top;
cursor: pointer;
float: right;
font-size: 0;
height: 30px !important;
line-height: 30px;
position: relative;
right: -10px !important;
text-align: center;
top: -10px !important;
width: 30px !important;
}
.infoboxclose img {
  display: none !important;
}
.popHeader h2 {
  text-align:left;
  color:#39425f;
  font-size:18px;
  line-height:30px;
  padding: 0 0 0px 5px;
  font-family: 'Droid Serif', sans-serif;
}
.infobox .content {
  margin:0;
  padding: 0 0 10px;
}
.popHeader {
  border-bottom:2px solid #f4f4f4;
  margin-top: -15px;
}
#rate {
  float:left;
  width:102px;
}
#rate span {
  float: left;
  color:#989898;
  font-size:12px;
  line-height:15px;
  padding-left: 5px;
}
#miles {
  float:right;
  color:#2b2c2c;
  font-size:12px;
  width:61px;
  line-height: 15px;
  text-align:right;
}
.address {
  clear:both;
  text-align:left;
  padding:6px 0 0 0;
}
.address p {
  display:inline;
  color:#4f5051;
  font-size:15px;
  line-height:20px;
  padding:0 0 0 15px;
  clear:both;
  display:inline-block;
  background:url(../content/images/popUp-locationIcon.png) no-repeat left 3px;
}

.webLink {
  clear:both;
  text-align:left;
  padding:2px 0 0 0;
}
.webLink p {
  display:inline;
  color:#4f5051;
  font-size:15px;
  line-height:20px;
  padding:0 0 0 15px;
  clear:both;
  display:inline-block;
  background:url(../content/images/popUp-websiteIcon.png) no-repeat left 3px;
}
.estimated {
  clear: both;
  padding-bottom: 0px;
  color: #cb2027;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Droid Serif', sans-serif;
  text-align: center;
}
.book {
  width:104px;
  height:30px;
  border-radius:20px;
  text-align:center;
  line-height:30px;
  border:none;
  font-family: 'Droid Serif', sans-serif;
  color:#fff;
  display:block;
  margin:auto;
  cursor:pointer;
  text-decoration: none;
  font-weight: 700;
  outline: none;
  background:#39425f;
}
.bottomArrow {
  position:absolute;
  left:50%;
  bottom:-8px;
  margin:0 0 0 -8px;
  width:17px;
  height:8px;
  background:url(../content/images/popUp-arrow.png) no-repeat left top;
}
.gmnoprint {
  display: none !important;
}
#milesSlide .ribbenSlide,#minutesSlide .ribbenSlide {
  position: absolute;
  top: -6px;
  width: 80px;
  height: 30px;
  color: #fff;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  background-color: #39425f;
}
#minutesSlide .ribbenSlide {
  right: -89px;
  background-color: #CD0A0A;
}
#milesSlide .ribbenSlide {
  left: -89px;
}
#rateYo {
  float: left;
  padding: 0;
}
.markermaping {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}
.map .markermaping img {
  width: auto;
}
.markermaping ul {
  margin: 15px;
  padding: 7px;
  overflow: hidden;
  background:rgba(255,255,255,0.8);
  border: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: 0 0 6px #BBB3B3;
}
.markermaping ul li {
  list-style: none;
  clear: both;
  color: green;
  padding: 0;
  font-size: 12px;
}
.markermaping ul li span {
  padding-left: 8px;
  line-height: 23px;
}
.markermaping ul li:nth-child(1) {
  color: #372666;
}
.markermaping ul li:nth-child(2) {
  color: red;
}
.markermaping ul li:nth-child(4) {
  color: #62CED9;
}
.markermaping ul li img,.markermaping ul li span {
  float: left;
}
.mapInput {
  border: 1px solid #ccc !important;
  color:black !important;
  outline: none;
  height: 23px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 7px;
  text-align: center;
  border-radius: 3px;
  transition: all 0.5s linear;
  transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.gm-style-iw {
  padding-left: 12px;
}
.slide1Img {
  height: 45px;
}

.slide h2 {
  color: #39425f;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-family: 'Droid Serif', sans-serif;
}
.inner {
  padding-top:0;
  background: #fff; 
}
.banner {
  position: relative;
}
.bannerContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
  color: #ffffff;
  text-align: center;
  font: 400 48px/58px 'Droid Serif', serif;
}
.bannerContent h2 {
  font: 400 48px/58px 'Droid Serif', serif;
}
.bannerContent strong {
  display: block;
  font-weight: 700;
}
.banner img {
  width: 100%;
}
.contentSection {
  clear: both;
  padding: 28px 0 0 0;
}
.tabMenu {
  padding: 0;
  margin: 0;
}
.tabMenu li {
  float: left;
  padding: 0 29px 0 0;
}
.tabMenu li a {
  font-family: 'Droid Serif', serif;
  font-weight: 700;
  color: #39425f;
  font-size: 20px;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.tabMenu li a.active {
  color: #cb2027;
  border-bottom-color: #cb2027;
}
.tabMain {
  clear: both;
}
.tabContent {
  padding:0;
}
.block1,.service_block {
  padding: 45px 70px;
  text-align: center;
  font-family: 'Droid Serif', serif;
}
.block1 h2,.service_block h2 {
  color: #39425f;
  font-size: 36px;
  line-height: 40px;
}
.block1 p {
  color: #383838;
  font-size: 24px;
  line-height: 32px;
  padding: 32px 0 0 0;
}
.block2 {
  background: #f4f4f4;
}
.block2 h2 {
  color: #cb2027;
}
.service_block {
  clear: both;
  padding: 35px 0 5px 0;
}
.serviceList {
  clear: both;
  margin: 0 -15px;
  padding: 0 135px;
}
.serviceList li {
  display: inline-block;
  box-sizing:border-box;
  width: 24%;
  padding: 50px 15px 0;
}
.serviceList li .staricon,.noteList span {
  color: #cb2027;
  font-weight: 700;
  font-size: 17px;
}
.serviceIcon,.serviceIcon figure {
  margin: auto;
  width: 143px;
  height: 143px;
  border: 1px dashed #39425f;
  border-radius: 50%;
  vertical-align: middle;
}
.serviceIcon figure {
  display: table-cell;
}
.serviceList li h3 {
  color: #39425f;
  font-size: 22px;
  padding: 20px 0 0 0;
}
.noteList {
  clear: both;
  text-align: right;
  padding: 45px 0 0 0;
}
.noteList strong {
  color: #39425f;
  padding: 0 0 0 32px;
  font: 700 18px/20px 'Droid Serif', serif;
}
.block3 {
  clear: both;
  padding: 63px 0 0 0;
}
.block3 h3 {
  float: left;
  color: #cb2027;
  width: 50%;
  padding: 40px 0 0 0;
  text-align: center;
  font: 700 60px/65px 'Droid Serif', serif;
}
.block3 h3 span {
  display: block;
  font-size: 45px;
  line-height: 45px;
}
.block3 figure {
  float: right;
  padding: 0 40px 0 0;
  margin: 0 0 0 -40px;
}
.block4 {
  clear: both;
  padding: 35px 75px 0;
  color: #383838;
  font-family: 'Droid Serif', serif;
}
.block4 p {
  line-height: 34px;
  font-size: 24px;
  padding: 24px 0 0 0;
}
.block4 h4,.block4 h5 {
  text-align: center;
  padding: 24px 0 0 0;
  font: 500 36px/40px 'Droid Serif', serif;
}
.block4 h5 {
  font-size: 30px;
  padding: 5px 0 0 0;
}
.block5 {
  clear: both;
  padding: 60px 32px 0;
}
.block5 h6,.block5 h2 {
  color: #cb2027;
  text-align: center;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
  font: 700 36px/74px 'Droid Serif', serif;
}
.block5 h2 {
  color: #39425f;
  border: none;
  padding: 40px 0 0 0;
  font: 700 28px/32px 'Droid Serif', serif;
}
.logoIcon {
  text-align: center;
  padding: 20px 0 0 0;
}
.contact_section {
  display: inline-block;
  box-sizing:border-box;
  width: 100%;
  margin: 54px 0 0;
  padding: 34px 65px 120px;
  background: #f3f2f2;
  font-family: 'Droid Serif', serif;
}
.contact_section h2 {
  color: #39425f;
  text-align: center;
  padding-bottom: 54px;
  font: 700 24px/30px 'Droid Serif', serif;
}
.form-control {
  position: relative;
  border: 2px solid #e6e6e6;
  height: 43px;
  background: #fff;
}
.form-control input[type='text'],.form-control textarea {
  position: relative;
  width: 100%;
  height: 41px;
  padding: 0 14px;
  color: #c9c9c9;
  font: 18px/40px 'Droid Serif', serif;
  box-sizing:border-box;
  outline: none;
  border: none;
  background: none;
  z-index: 9;
}
.form-control label {
  position: absolute;
  left: 14px;
  top: -2px;
  color: #c9c9c9;
  font: 18px/43px 'Droid Serif', serif;
  transition:all 0.3s linear;
}
.form-control.focus label {
  left: 4px;
  top: -35px;
}
.rowSec1 {
  padding: 13px 0;
}
.rowSec1::after,.rowSec1::before {
  clear: both;
  content:'';
  display: table;
}
.text-area {
  height: 142px;
}
.text-area textarea {
  height: 138px;
}
.btn-sub {
  color: #fff;
  width: 192px;
  height: 52px;
  border-radius: 8px;
  margin: auto;
  border: none;
  display: block;
  cursor: pointer;
  transition:all 0.3s linear;
  outline: none;
  font: 19px/52px 'Droid Serif', serif;
  background: #39425f;
}
.btn-sub:hover,.btn-sub:focus {
  color: #FFFFFF;
  border-radius: 3;
  background: #39425F;
}
.contact_section address {
  padding: 10px 0 0 50px;
  color: #575757;
  font: 700 24px/28px 'Droid Serif', serif;
}
.contact_section address strong {
  display: block;
  color: #39425f;
  padding: 0 0 30px;
}
.bannerInner {
  top: 50%;
  margin-top: -30px;
}
.termsRow1 {
  clear: both;
  padding: 14px 0 0 0;
  text-align: right;
}
.termsRow1 a {
  margin-right: 28px;
}
.cont_sect {
  padding: 0 0 20px 0;
}
.cont_sect h3 {
  color: #39425f;
  font: 700 19px/28px 'Droid Serif', serif;
}
.cont_sect p,.cont_sect h4,.cont_sect ul {
  padding: 20px 0 0 0;
  color: #313132;
  font: 400 16px/26px 'Droid Serif', serif;
}
.cont_sect h4 {
  color: #2d2d2d;
  font-weight: 700;
}

.cont_sect ul li {
  padding: 5px 0 0 21px;
}
.cont_sect ul li::before {
  content: '•';
  margin-left: -21px;
  margin-right: 10px;
}
.cont_sect .list li::before {
  content: '';
  margin: 0;
}
.toBottom {
  position: fixed;
  right: 52px;
  top: 100px;
  display: none;
}
.toTop {
  position: absolute;
  right: 52px;
}

#topSecMsg{
  color:white;
  text-align: center;
  font: 700 19px/28px 'Droid Serif', serif;
}
.btn-sub {
  color: #fff;
  width: 192px;
  height: 52px;
  border-radius: 8px;
  margin: auto;
  border: none;
  display: block;
  cursor: pointer;
  transition:all 0.3s linear;
  outline: none;
  font: 19px/52px 'Droid Serif', serif;
  background: #39425f;
}
.btn-sub:hover,.btn-sub:focus {
  color: #FFFFFF;
  border-radius: 0;
  background: #96A1AB;
  border-radius: 8px;
}
#milesSlide .fa-long-arrow-right,#minutesSlide .fa-long-arrow-right {
  position: absolute;
  top: 0;
  font-size: large;
}
#milesSlide .fa-long-arrow-right {
  right: 15px;
  color: #39425f;
}
#minutesSlide .fa-long-arrow-right {
  left: 15px;
  color: #CD0A0A;
  transform:rotate(180deg);
}

/*responsive */

@media (max-width: 991px){
  .registration {
    width: 529px;
  }
  .registration label {
    font-size: 17px;
  }
  .appsSec {
    display: none;
  }
}
@media (max-width: 767px){
.registration {
    width: 100%;
  }
header {
  height: auto;
  padding: 20px 0;
} 
.logo {
  margin: auto;
  float: none;
}
.registration {
  width: 100%;
  height: auto;
  padding: 15px;
}
.registration label {
  line-height: 23px;
  float: none;
  margin-right: 0;
}
.emailRow {
  width: 100%;
}
.services {
  height: auto;
  overflow: hidden;
} 
.services ul,.services ul li {
  display: block;
  border: none;
}
.services ul li {
  margin: 3px;
  display: block;
  border: none;
  clear: both;
  cursor: pointer;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  background-color: #39425f;
  overflow: hidden;
}
.services ul li a {
  float: left;
}
.services ul li h6 {
  position: relative;
  top: 0;
  float: left;
  clear: none;
  color: #fff;
}
.services ul li.active,.services ul li:hover {
  background: #fff;
}
.services ul li.active h6,.services ul li:hover h6 {
  color: #cb2027;
}
footer {
  height: auto;
  line-height: 30px;
  padding: 10px 0;
}
footer ul,footer .right {
  float: none;
}
footer ul li {
  float: none;
  display: inline-block;
}
.main {
  padding-bottom: 27px;
}
.topSec {
  background-size: cover;
  padding-bottom: 15px;
}
.col-xs-12 {
  margin-top: 10px;
}
.selectbx, .distance, .search-sec,.search {
  font-size: 14px;
}
.label-title1 {
  font-size: 17px;
}
#topSecMsg{
  font-size: 16px;
}

}